
ADRC_p1/.vs/ADRC_p1/v16/.suo
ADRC_p1/.vs/ADRC_p1/v16/Server/sqlite3/db.lock
ADRC_p1/.vs/ADRC_p1/v16/Server/sqlite3/storage.ide
ADRC_p1/.vs/ADRC_p1/v16/Server/sqlite3/storage.ide-shm
ADRC_p1/.vs/ADRC_p1/v16/Server/sqlite3/storage.ide-wal
ADRC_p2/.vs/ADRC_p2/v16/Server/sqlite3/storage.ide-wal
ADRC_p2/.vs/ADRC_p2/v16/Server/sqlite3/storage.ide-shm
ADRC_p2/.vs/ADRC_p2/v16/Server/sqlite3/storage.ide
ADRC_p2/.vs/ADRC_p2/v16/.suo
*.ide
ADRC_p2/.vs/ADRC_p2/v16/Server/sqlite3/storage.ide
